---
[vcs-1]: /codememo/use-dvcs/
[vcs-2]: /codememo/commits-are-tied-to-tasks/
[vcs-3]: /codememo/release-train-branching-strategy/
[vcs-4]: /codememo/version-numbers/
[vcs-5]: /codememo/pristine-integration-branch/

[arch-1]: /codememo/code-metrics/
[arch-2]: /codememo/testable-code/
[arch-3]: /codememo/dependencies-are-managed/
[arch-4]: /codememo/individally-releasable-components/
[arch-5]: /codememo/full-audit-trail/

[build-1]: /codememo/automated-builds/
[build-2]: /codememo/artifacts-are-managed/
[build-3]: /codememo/automated-release-notes/
[build-4]: /codememo/full-trce/
[build-5]: /codememo/delivery-pipeline/

[devops-1]: /codememo/one-team/
[devops-2]: /codememo/automated-deployment/
[devops-3]: /codememo/on-demand-environments/
[devops-4]: /codememo/infrastructure-as-code/
[devops-5]: /codememo/live-monitoring-and-feedback/

[org-1]: /codememo/agile-process/
[org-2]: /codememo/buy-in-management/
[org-3]: /codememo/tasks-are-groomed/
[org-4]: /codememo/designated-roles/
[org-5]: /codememo/knowledge-transfer/
/codememo
[test-1]: /codememo/unit-test/
[test-2]: /codememo/automated-functional-tests/
[test-3]: /codememo/maintain-test-data/
[test-4]: /codememo/adaptive-test-suites/
[test-5]: /codememo/test-in-production/

---
