---
[vcs-1]: /use-dvcs/
[vcs-2]: /commits-are-tied-to-tasks/
[vcs-3]: /release-train-branching-strategy/
[vcs-4]: /version-numbers/
[vcs-5]: /pristine-integration-branch/

[arch-1]: /code-metrics/
[arch-2]: /testable-code/
[arch-3]: /dependencies-are-managed/
[arch-4]: /individually-releasable-components/
[arch-5]: /full-audit-trail/

[build-1]: /automated-builds/
[build-2]: /artifacts-are-managed/
[build-3]: /automated-release-notes/
[build-4]: /full-trace/
[build-5]: /delivery-pipeline/

[devops-1]: /one-team/
[devops-2]: /automated-deployment/
[devops-3]: /on-demand-environments/
[devops-4]: /infrastructure-as-code/
[devops-5]: /live-monitoring-and-feedback/

[org-1]: /agile-process/
[org-2]: /buy-in-management/
[org-3]: /tasks-are-groomed/
[org-4]: /designated-roles/
[org-5]: /knowledge-transfer/

[test-1]: /unit-test/
[test-2]: /automated-functional-tests/
[test-3]: /maintain-test-data/
[test-4]: /adaptive-test-suites/
[test-5]: /test-in-production/

---
