[core]
    editor = nano
    hooksPath = .githooks

[push]
  default = current

[pull]
  fast-forward = only

[alias]
  undo-commit = reset --soft HEAD^
  addremove = add -A
  recommit = commit -C HEAD --amend
  co = checkout
  st = status
  root =  rev-parse --show-toplevel
  tree = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset\"
  backward = checkout HEAD^1
  forward = !git checkout $(git log --all --ancestry-path ^HEAD --format=format:%H | tail -n 1)
  sha1 = rev-parse --short HEAD
  get-message = log -1 --pretty=%B
  sweep = "!f() { git fetch --prune && git checkout main && git pull && for branch in $(git branch -vv | grep ': gone]' | awk \"{print \\$1}\"); do git branch -D \"$branch\"; done; }; f"
  prerelease = "!f() { git push --tag && gh release create `gh semver --prerelease` --verify-tag --prerelease --notes-file `git root`/$1 ; }; f"
  release = "!f() { git push --tag && gh release create `gh semver` --latest --verify-tag  --notes-file `git root`/$1; }; f"
  issue-number = "!f() { git rev-parse --abbrev-ref HEAD | grep -oE '^[0-9]+'; }; f"
  mark-stable = "!f() { echo git checkout main && git tag -f stable $1 && git push origin --tags --force; }; f"