    <header>
      <div class="inner">
        <h1>Lakruzz</h1>
        <h2>Blogs by Lars Kruse</h2>
        <!--a href="https://github.com/lakruzz/lakruzz.github.io" class="button" target="_blank"><small>This page is hosted at GitHub pages from the <span style="color:#fe950d;">Lakruzz</span> repo</small></a-->
        <a class="menu" href="/">Lakruzz</a>
        <a class="menu" href="/posts">Blog</a>
        <a class="menu" href="/en/wolfware-republished">WolfWare</a>
      </div>
    </header>
