<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.url == "/index.html" %}
  <title>{{ site.title }}: {{ site.description }}</title>
{% elsif page.title %}
  <title>{{ site.title }}: {{ page.title }}</title>
{% elsif page.tag %}
  <title>{{ site.title }}: {{ page.tag }}</title>
{% else %}
  <title>{{ site.title }}: {{ site.description }}</title>
{% endif %}


{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/css/model.css' | relative_url  }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
<link rel="alternate" type="application/rss+xml" title="Subscribe via RSS" href="/feed.xml" />
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<meta name="google-site-verification" content="NW7KLg-ZdHbdHYZ60xnCn4WjNBPiGgBXyRBWcjWuiJg" />


