.stdright, .stdleft, .stdcenter, .pic-standard
  padding:   5px
  font-size: 83%
  width:     450px

.pic-small
  padding:   5px
  font-size: 83%
  width:     250px

.stdright, .pic-right
  float:        right

.stdleft, .pic-left
  float:        left
  margin-right: 10px

.stdcenter, .pic-center
  display:       block
  margin-left:   auto
  margin-right:  auto
  margin-bottom: 20px
  margin-top:    0px


.pic
  display: block
  padding-top: 5px
  padding-left: 5px
  padding-right: 5px
  padding-bottom: 5px
  font-size: 83%
  font-family: $font-stack-sans-serif
  &.center
    margin-left: auto
    margin-right: auto
    margin-bottom: 0px
    margin-top: 0px
    clear: both

  &.right
    float: right
    clear: left

  &.left
    float: left
    margin-right: 10px
    padding-left: 0px
    clear: right

  &.wide
    width: 600px

  &.medium
    width: 450px

  &.small
    width: 250px

  &.tiny
    width: 140px
