.layout--model-card-single{

  header{
    display: none ;
  }

  .layout-card{
    $card-width: 207px;
    .card-header{
      margin-bottom: 40px;
      overflow: hidden;
      .card_ {
        padding: 6px 12px;
      }
    }
    .card_, .details{
      float: left;
      width: $card-width;
      height: $card-width;
    }

    .model-tags {
      padding-left: 0.06*$card-width;
      position: relative;
      float: left;
    }
    .card_{
      font-size: $card-width * $card-font-size-multiplier;
      .bg{
        border-width: 80pt;
      }
    }
    .details{
      padding-left: 0.06*$card-width;
      position: relative;
      .gauges{
        /*bottom: -9px;*/
        bottom: 0;
        font-family: $font-family-base;
        font-size: calc($font-size-base * 1.4);
        font-weight: 300;
        line-height: 1.6em;
        position: absolute;
        right: 0;
        text-align: right;
        .score{
          border-top: rgba(0,0,0,0.1) 1px solid;
          margin-top: 17px;
          padding-top: 9px;
          margin-bottom: 0px;
          .value{
            font-weight: bold;
            font-size: 1.5em;
            width: $stars-width;
            display: inline-block;
          }
        }
      }
    }
    .caption{
      font-family: $font-family-condensed;
      font-size: 2.827em;
      font-weight: 900;
      line-height: 1.2em;
      margin-bottom: 0.5em;
    }
  
    h2:before {
      margin-right: 0.4em;
      content: "\f1e5"; // <i class="fa-solid fa-binoculars"></i>
      font-family: FontAwesome;
    }
    
    
    h3:before {
      margin-right: 0.4em;
      content: "\f0aa"; // <i class="fa-solid fa-circle-arrow-up"></i>
      font-family: FontAwesome;
    }

    h4:before{
      margin-right: 0.4em;
      content: "\f0a9"; // <i class="fa-solid fa-circle-arrow-right"></i>
      font-family: FontAwesome;
      
    }    
    
    h5:before{
      margin-right: 0.4em;
      content: "\f0ab"; // <i class="fa-solid fa-circle-arrow-down"></i>
      font-family: FontAwesome;
      
    }

    .nav-prev-next{
      a{
        bottom: 0;
        display: block;
        position: fixed;
        top: 0;
        white-space: nowrap;
        width: 50px;
        &:hover{
          background: rgba($color-black, 0.2);
        }
        span.title{
          display: block;
          transform: rotate(-90deg);
          position: absolute;
          bottom: -50px;
          left: 0;
          transform-origin: left top;
          height: 50px;
          padding-left: 80px;
          line-height: 50px;
          &:before, &:after{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 0.4em;
            vertical-align: -6%;
            font-size: 25px;
          }
        }
        &.prev{
          left: 0;
          span.title:before{
            content: "↑";
          }
        }
        &.next{
          right: 0;
          span.title:before{
            content: "↓";
          }
        }
      }
    }
    .stars{
      width: $stars-width;
      display: inline-block;
      .s_empty{
        opacity: 0.2;
      }
    }
  }
}

@media (max-width: 1024px) {
.layout--model-card-single{
  .layout-card{ 
    .nav-prev-next {
       a {
           position: static;
           transform: none;
           width: auto;
           &:hover{
            background: rgba($color-black, 0.2);
          }
         span.title {
           transform: none; // Remove rotation
           position: static; // Reset positioning
           bottom: auto; // Reset bottom positioning
           left: auto; // Reset left positioning
           transform-origin: none; // Reset transform origin
           height: auto; // Reset height
           padding-left: 0; // Reset padding
           line-height: normal; // Reset line height
         }
         &.prev {
           left: auto; // Reset left positioning
           align: left;
           span.title:before{
            content: "←";
          }
         }
         &.next {
           right: auto; // Reset right positioning
           align: right;
           span.title:before{
            content: "";
           }
           span.title:after{
            content: "→";
          }
         }
       }
     }
   }
  }
}

@media (max-width: 600px) {
  .layout--model-card-single{
    
    .layout-card{

      $stars-width: 65px;
      $card-width: 147px;
      .stars{
        width: $stars-width;
        display: inline-block;
        .s_empty{
          opacity: 0.2;
        }
      }
      
      .card-header{
        .model-tags {
          float:none;
          padding-top: 0.06*$card-width;
          padding-left: 0;
          .model-tag {
            float: left;
          }
        }
      }

      .card-header{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
      }

      .card_, .details{
        width: $card-width;
        height: $card-width;
      }
  
      .card_{
        font-size: $card-width * $card-font-size-multiplier;
        .bg{
          border-width: 56pt;
        }
  
      }
      .details{
        .gauges{
          font-size: calc($font-size-base * 1.1);
          line-height: 1.5em;
          .score{
            border-top: rgba(0,0,0,0.1) 1px solid;
            margin-top: 17px;
            padding-top: 9px;
            margin-bottom: 0px;
            .value{
              font-weight: bold;
              font-size: 1.5em;
              width: $stars-width;
              display: inline-block;
            }
          }
        }
      }

    

    }  
  }  
}

