/* ==========================================================================
   CoDeMaMo skin
   ========================================================================== */

/* serif typefaces */
$lato: "Lato", serif !default;

$global-font-family: $lato !default;
$header-font-family: $lato !default;
$caption-font-family: $lato !default;

$area-10:          #fb001d !default;
$area-20:           $area-10 !default;
$area-30:           $area-10;
$area-40:          #fa8b00 !default;
$area-50:          #00e675 !default;
$area-60:          #00a8ff !default;
$area-70:          #d136f5 !default;
$area-80:          #424242 !default;
$area-90:            $area-80;


$ttc-light-grey:   #e0dfdc !default;
$ttc-dark-grey:    #1f1f23 !default;
$ttc-grey:         #a3a2a0 !default;
$ttc-mint:         #b9d2c3 !default;
$ttc-purple:       #af9eb4 !default;
$ttc-plum:         #64505a !default;
$ttc-cappuccion:   #b6a798 !default;
$ttc-mustard:      #deb778 !default;

/* variants (lighter shades) */
$ttc-light-grey-1: #e8e7e5 !default;
$ttc-light-grey-2: #efefed !default;
$ttc-light-grey-3: #f7f7f6 !default;

$ttc-grey-1:       #57585a !default;
$ttc-grey-2:       #8f8f91 !default;
$ttc-grey-3:       #c7c7c8 !default;

$ttc-mint-1:       #cbddd2 !default;
$ttc-mint-2:       #dce8e1 !default;
$ttc-mint-3:       #edf4f0 !default;

$ttc-purple-1:     #c3b6c7 !default;
$ttc-purple-2:     #d7ced9 !default;
$ttc-purple-3:     #af9eb4 !default;

$ttc-plum-1:       #8b7c83 !default;
$ttc-plum-2:       #b1a7ac !default;
$ttc-plum-3:       #d8d3d6 !default;

$ttc-cappuccion-1: #c8bdb2 !default;
$ttc-cappuccion-2: #dad3cb !default;
$ttc-cappuccion-3: #ede9e5 !default;

$ttc-mustard-1:    #e6c99a !default;
$ttc-mustard-2:    #eedbbb !default;
$ttc-mustard-3:    #f7eddd !default;

/* Colors */
$background-color: $ttc-light-grey !default;
$text-color: $ttc-dark-grey !default;
$primary-color: $ttc-grey !default;
$border-color: mix($ttc-light-grey-3, $background-color, 20%) !default;
$code-background-color: mix($ttc-plum, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$link-color: mix($primary-color, $text-color, 40%) !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $ttc-mustard !default;
$masthead-link-color-hover: mix(#000, $ttc-mustard-3, 20%) !default;
$masthead-background-color: $ttc-dark-grey !default;
$footer-background-color: $masthead-background-color;
$muted-text-color: $ttc-mustard;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

$label-color: $ttc-dark-grey !default;


$success-color: $ttc-mint !default;
$warning-color: $ttc-mustard !default;
$danger-color: $ttc-cappuccion !default;
$info-color: $ttc-purple !default;
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 80%) !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: #333;
}


.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

