.pic {
    display: block;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    font-size: $type-size-6;
    font-family: $sans-serif;
    text-align: left;
    &.center {
      margin-left: auto;
      margin-right: auto !important;
      margin-bottom: 0px;
      margin-top: 0px;
      clear: both;
    }
    
    &.right {
      float: right;
      margin-left: 10px;
      padding-right: 0px;
      clear: left;
    }
  
    &.left {
      float: left;
      margin-right: 10px;
      padding-left: 0px;
      clear: right;
    }

    &.top {
      clear: none;
    }
  
    &.full {
      width: 100%;
    }
  
    &.wide {
      width: 600px;
    }
  
    &.medium {
      width: 450px;
    }
  
    &.small {
      width: 250px;
    }
  
    &.tiny {
      width: 140px;
    }

    &._128 {
      width: 64px;
    }
    &._64 {
      width: 64px;
    }

    &._32 {
      width: 32px;
    }

  
  }
  
  
  @media only screen and (max-width: 576px) {
      .pic {
          &.medium, &.wide{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0px;
            margin-top: 0px;
            clear: both;
          }
      }
  }