// cards

$card-font-size-multiplier: 0.123;
$card-width-tag: 150px;

$container-width: 600px;
$card-gutter-matrix: 8px;
$card-matrix-cols: 5;
/*$card-width-matrix: ($container-width - ($card-gutter-matrix * ($card-matrix-cols - 1)))/$card-matrix-cols;*/
$card-width-matrix: 124px;
$stars-width: 96px;

// fonts

/*$font-family-base: "Open Sans", Helvetica, sans-serif;*/
/*$font-family-condensed: 'Open Sans Condensed', $font-family-base;*/
/*$font-family-decorative: "Indie Flower", $font-family-base;*/
$font-family-base: "Lato", sans-serif;
$font-family-condensed: "Lato", $font-family-base;
$font-family-decorative: "Indie Flower", $font-family-base;

//$font-family-header: $font-family-condensed;
$font-family-ribbon: "Ubuntu Condensed", $font-family-base;

$font-size-base:          14px;
/*$font-letter-spacing: 0.05em;*/
$font-letter-spacing: 0;
$transition-time: 0.2s;


// colors

$color-orange: #FF9900;
$color-black: #303540;
$color-white: #fff;
$color-gray: #e5e4e2;
$color-gray-text: #959492;
$color-blue: #1AAFE4;


// overriding bootstrap

$grid-columns: 60;
$thumbnail-border: transparent;
$thumbnail-padding: 0;
$headings-font-family: $font-family-condensed;
$navbar-default-bg: white;
$navbar-default-border: none;

$link-color:            $color-blue;
$link-hover-color:      darken($link-color, 15%);
$input-border-radius: 0;
$input-border: $color-black;

$screen-xs: 1px;
$screen-sm: 2px;
$screen-md: 3px;
$screen-lg: 4px;
// need to define gutters before bootstrap is included
$grid-gutter-width:         30px;
// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;
// Large screen / wide desktop
/*$container-large-desktop:      (1120px + $grid-gutter-width);*/
$container-large-desktop:      ($container-width + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;
